*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* navbar */

.container{
    height: 98px;
    background: #012025;

}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;
}


.logo{
    margin-top: 15px;
    width: 275px;
    height: 52px;
}

ul{
    display: flex;
    margin-top:15px;
}


li{
    list-style: none;
    margin-left: 40px;
}


a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.on{
    display: flex;
    gap: 6px;
    align-items: center;
}




#home{
    color: #5FD43E;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.demo{
    margin-top: 15px;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #5FD43E;
    background: #012025;
}


.get{
    color: #5FD43E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.hero-container{
    display: flex;
    gap: 30px;
}


.hero{
    background-image: url('../images/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 896px;
}

.go{
    width: 837.84px;
    height: 732px;
    margin-top: 130px;
}


.text{
    margin-left: 120px;
    padding-top: 91px;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 67.2px */
}


.span{
    color: #5FD43E;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}



.box{
    width: 646px;
    height: 515px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #AFF29C;
    background: #FBF6F7;
    margin-left: 120px;
    margin-top: 33px;
}



.flex{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 20px;
}



.flex1{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 20px;
}



#number{
    width: 266px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #D9D7D7;
    background: #FDFDFD;
}




#email{
    width: 266px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #D9D7D7;
    background: #FDFDFD;
}
#text{
    width: 266px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #D9D7D7;
    background: #FDFDFD;
}


:placeholder-shown{
    color: #54657A;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 24px;
}





#textarea{
    margin-left: 20px;
    margin-top: 20px;
    width: 580px;
    height: 125px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #D9D7D7;
    background: #FDFDFD;
}



.pl{
    padding-top: 20px;
}





.btn{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-flex;
    padding: 26.5px 261px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: #5FD43E;
    border: none;
}



.get-set{
    color: #012025;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



/* section1 */


.section-one{
    height: 257px;
    flex-shrink: 0;
    background: #FBFEFF;
}



.test{

    margin-left: 120px;
}


.iam-heading-one{
    display: flex;
    margin-top: 150px;
    gap: 180px;
}



.test{
    color: #002126;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 50.4px */
}


.pluse{
    color: #5FD43E;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}






.line{
    margin-left: 120px;
    margin-top: 41.75px;
}


/* section2 */

.section-two{
    background-image: url('../images/section.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
}



.why{
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 120px;
}


.sr{
    color: #FFF;
    text-align: center;
    padding-top: 12px;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 40.8px */
}



.hi-section{
    display: flex;
    margin-top: 64px;
    margin-left: 110px;
    gap: 20px;
}


.hi{
    width: 345px;
    height: 254px;
    border-radius: 20px;
    border: 1px solid #05606F;
    background: #022B32;
}


.on-sat{
    margin-top: 27px;
    margin-left: 140px;
}


.fri{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 24px */
    margin-top: 23px;
}


.day{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-top: 12px;
}




.app{
    margin-left: 740px;
    margin-top: 73px;
    border-radius: 8px;
    background: #5FD43E;
    display: inline-flex;
    padding: 16px 36px;
    align-items: center;
    gap: 12px;
    border: none;
}



.now{
    color: #012025;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}




/* section3 */

.section-four{
    background: #F5FDFF;
    height: 775px;
}




.you{
    color: #263238;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 120px;
    text-align: center;
}



.wht{
    color: #002126;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 44.2px */
    margin-top: 12px;
}

.is{
    color: #5FD43E;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}


.thy{
    color: #5F5F5F;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
    margin-top: 24px;
}



.ha {
    display: flex;
}


.haha{
    width: 710px;
    height: 235px;
    border-radius: 20px;
    border: 1px solid #D9DBDB;
    background: #EEF6F7;
}



.haha-section{
    display: flex;
    gap: 20px;
    margin-top: 48px;
    margin-left: 115px;
}


.haha-section1{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 115px;
}



.able{
    margin-left: 40px;
    margin-top: 40px;
}




.man{
    margin-top: 41px;
    margin-left: 27px;
    color: #002126;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
}


.back{
    margin-top: 16px;
    margin-left: 27px;
    color: #5F5F5F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
}


.rice{
    display: flex;
    padding: 16px 36px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: #002126;
    margin-left: 750px;
    margin-top: 60px;
}


/* section 5 */




.section-five{
    background-image: url('../images/56.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 830px;
    margin-top: 20%;
}


.how-it{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 120px;
}


.five-section-1{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 120px;
    margin-top: 48px;
}




.br{
    color: #FFF;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 12px;
}



.five-container{
    width: 345px;
    height: 220px;
    background-image: url('../images/card.png');
    background-repeat: no-repeat;
    background-size: cover;
}




.five-container1{
    width: 345px;
    height: 220px;
    background-image: url('../images/card2.png');
    background-repeat: no-repeat;
    background-size: cover;
}



.five-container2{
    width: 345px;
    height: 220px;
    background-image: url('../images/card3.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.five-container3{
    width: 345px;
    height: 220px;
    background-image: url('../images/card4.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.five-ami{
    display: flex;
    align-items: center;
    gap: 70px;
}



.svg{
    margin-top: 23px;
    margin-left: 141px;
}



.oi{
   margin-top: 16px;
}


.an-on{
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    margin-top: 16px;
}



.rell{
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    margin-top: 11px;
}


/* section 6 */



.section-six{
    height: 1040px;
    background: #F5FDFF;
}





.ass-section{
    display: flex;
    gap: 114px;
}



.ass{
    background-image: url('../images/six.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 706px;
    height: 800px;
    margin-top: 120px;
    margin-left: 120px;
}



.house{
   padding-top: 626px;
   padding-left: 54px;
   color: #FEFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
}




.mork{
    padding-top: 10px;
    padding-left: 54px;
    color: #E1FAFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
}





.del{
    margin-top: 120px;
}




.cases{
    color: #002126;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}



.capital{
    color: #263238;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 44.2px */
    margin-top: 10px;
}






.youaa{
    color: #5FD43E;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}





.poor{
    color: #5F5F5F;
    margin-top: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
}




.flex-p{
    display: flex;
    gap: 8px;
    margin-top: 22px;
}




.flex-p1{
    display: flex;
    gap: 8px;
    margin-top: 20px;
}




.class{
    width: 24px;
    height: 24px;
}




.i-am-a-heading-one-one{
    color: #5F5F5F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}








.button-app{
    display: flex;
    padding: 16px 36px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: #5FD43E;
    border: none ;
    margin-top: 50px;
}




.noe-app{
    color: #002126;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}




/* section 7 */




.section-seven{
    height: 679px;
    background: #002126;
}






.am-i{
    color: #FFF;
    text-align: center;
    padding-top: 120px;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 44.2px */
}


.section-section{
    display: flex;
    margin-top: 64px;
    margin-left: 120px;
    gap: 20px;
}



.my-con-se{
    width: 710px;
    height: 287px;
    border-radius: 20px;
    border: 1px solid #057181;
    background: #003037;
}





.vector{
    margin-top: 45px;
    margin-left: 331.5px;
}



.need-to-be-a-coffi{
    color: #FFF;
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
}









.why-we-i-am-heading{
    color: #FFF;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
}